#index {
    width: 100%;
    max-width: 1920;
    margin: 0 auto;
    // Backround image
    background-image: url('../images/sushi.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}