
/// Colors
$red: #BC002D;
$dark-grey: #141414;
$white: #F5F5F5;

// Fonts
$roboto: "Roboto", sans-serif;
$reggae: "Reggae One", system-ui;
$roboto-condensed: "Roboto Condensed", sans-serif;

$center: 0 auto;


// Mixins
@mixin button {
    border: none;
    border-radius: 5px;
}